<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/cabecera::cabecera-seccion(titulo='Agenda de Contactos - Editar')}">
</head>
<body>
<!--Barra de navegación-->
  <div th:replace="~{fragmentos/navegación::navegacion-seccion}"></div>
  <div class="row mb-1 ms-3 mt-5">
    <h2>Editar Contacto</h2>
  </div>
<div class="row mb-4 ms-3 mt-4">
  <!--Ya no necesitamos el atributo modelAttribute, en su lugar utilizamos th:object para acceder
  al objeto Contacto que recibimos desde el controlador con expression language-->
  <form action="/editar" th:object="${contacto}" method="post" modelAttribute="contactoForm">
    <!--Añadimos un campo oculto para el id-->
    <input type="hidden" th:field="*{idContacto}">
    <div class="row mb-4">
      <div class="col-md-2">
        <label for="nombre" class="form-label">Nombre completo: </label>
        <!--Utilizamos th field y la sintaxis *{propiedad} para acceder a las propiedades del objeto
        contacto y asignarlas como valor default en cada campo-->
        <input type="text" required class="form-control" name="nombre"
               id="nombre" th:field="*{nombre}">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-1">
        <label for="telefono" class="form-label">Telefono: </label>
        <input type="tel" required class="form-control" name="telefono" id="telefono" th:field="*{telefono}">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-2">
        <label for="correo" class="form-label">Correo: </label>
        <input type="email" class="form-control" name="correo" id="correo" th:field="*{correo}">
      </div>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary me-3">
        <i class="fa-solid fa-floppy-disk"></i>
        &nbsp;Modificar
      </button>
      <a class="btn btn-danger" href="/">
        <i class="fa-solid fa-xmark"></i>
        &nbsp;Regresar
      </a>
    </div>
  </form>
</div>
<!--Pie de página-->
<div th:replace="~{fragmentos/pie-pagina::pie-pagina-seccion}"></div>
</body>
</html>