<!DOCTYPE html>
<!--Importamos el namespace de Thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera::cabecera-seccion(titulo='Agenda de Contactos - Inicio')}">
</head>

<body>
    <style>
        table thead tr th {
            background-color: #0D6EFD !important;
            color: white !important;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Agenda de contactos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Agregar contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="container text-center" style="margin: 30px;">
            <h2>Agenda de contactos</h2>
        </div>
    </div>
    <div class="container text-center">
        <table class="table table-striped table-bordered table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Télefono</th>
                    <th scope="col">Correo</th>
                </tr>
            </thead>
            <tbody>
                <!--Agregamos la directiva each de Thymeleaf, especificamos el nombre de la
                variable iteradora seguido de dos puntos y el nombre de nuestro objeto de modelo
                con la sintaxis de expression language-->
                <tr th:each="contacto:${contactos}">
                    <!--Ahora en los td agregamos la directiva text de Thymeleaf
                    y accedemos a las propiedades del objeto contacto con expression language-->
                    <td th:text="${contacto.idContacto}" scope="row"></td>
                    <td th:text="${contacto.nombre}"></td>
                    <td th:text="${contacto.telefono}">55555555</td>
                    <td th:text="${contacto.correo}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--Esto se reemplazará por el fragmento al renderizar la vista-->
    <div th:replace="~{fragmentos/pie-pagina::pie-pagina-seccion}">

    </div>
</body>
</html>